<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>express from ejs</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>*Express*</h1>
  <div>Hello ejs!!!</div>
</body>
</html>