<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>rooting test</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1>*Express_2*</h1>
  <div>This is a Rooting test page</div>
</body>
</html>